body {
	font-family: Cambria;
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
#nav a {
	color: red;
}

a:hover {
	color: #002D62;
	text-decoration: underline;
}

a:active {
	color: darkcyan;
}

a:visited {
	color: darkblue;
}

#books-list {
}