body {
	font-family: adobe-garamond-pro;
	background-color: #ffffff;
	color: grey;
	font-weight: 400;
	/*background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);*/
	/*background-color: #000000;*/
	/*background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);*/
}

body.dark {
	font-family: Cambria;
	background-color: #0A0E14;
	color: grey;	
}

.top-nav {
	top: 0;
	width: 100%;
	color: black;
	/*position: absolute*/
	overflow: hidden;
	/*margin: auto;*/
	text-align: center;
	/*padding:  20px 16px;*/
	/*display: flex;*/
	/*position: fixed;*/
	/*overflow: auto;*/
	/*background-color: red;*/
}

.top-nav a:hover {
	border-bottom-style: solid;
	color: black;
	text-decoration: none;
}

.top-nav a {
	padding:  20px 16px;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
	float: left;
	/*color: black;*/
	background-color: white;
	/*display: flex;*/

}

a.name {
	font-size: 23px;
}


.right-nav {
	float: right;
	font-size: 17px;
	/*text-align: none;*/
	/*background-color: #ffffff;*/
	/*float: left;*/
	/*background-color: white;*/
	/*text-decoration: none;*/
	/*display: flex;*/
}

.active {
	/*border-bottom-width: 3px;*/
	border-bottom-style: solid;
	/*text-decoration: underline;*/
}

a {
	color: black;
}

body.dark a {
	color: lightgrey;
}

a:hover {
	color: grey;
	text-decoration: underline;
}
body.dark a:hover {
	color: white;
	text-decoration: underline;
}

a:active {
	color: grey;
}

a.dark:active {
	color: grey;
}

/*a:visited {
	color: darkgrey;
}*/

/*body.dark a:visited {
	color: darkgrey;
}*/

.books-list {
	/*background-color: #00010A;*/
	text-align: left;
	width: 600px;
	margin: auto;
	padding: 10px;
}
.reading {
	/*background-color: #00010A;*/
	text-align: left;
	width: 600px;
	margin: auto;
	padding: 10px;
}

#welcome{
	text-align: center;
	color:black;
}

body.dark #welcome{
	text-align: center;
	color:white;
}

h4 {
	color: black;
}

body.dark h4 {
	color: white;
}

button {
	position: absolute; 
	right: 0;
	/*align-content: right;*/
}

